body{
  font-family: 'Roboto', sans-serif;
}
.nav1{
  display: inline-flex;
}
.nav1 img{
  margin-right: 20px;
  margin-left: 20px;
}
.dropdown{
  display: inline-flex;
}

.dropdown a {
  background-color: white;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 1;
  margin-right: 60px;
  text-decoration: none;
}
.dropdown a:hover {
  background-color: #04AA6D;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  list-style: none;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  width: 78px;
  padding: 10px;
}

.dropdown-content a:hover {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.horizontal-nav {
  background-color: #282A35;
  color: #F1F1F1;
  font-size: 14px;
}

.horizontal-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.horizontal-nav ul i{
  cursor: pointer;
}

.horizontal-nav ul li {
  padding: 9px 14px;
  cursor: pointer;
}

.horizontal-nav ul li a {
  text-decoration: none;
  color: #F1F1F1;
}

.horizontal-nav i{
  margin-left: 10px;
}

.horizontal-nav ul li :hover {
  background-color: black;
}



.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
    font-family: 'Roboto', sans-serif;
    position: absolute;
}
.sidebar a.tutor{
  background-color: none;
  font-size: 2ss0px;
}
.sidebar a {
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #d1cece;
  color: black;
}

div.content {
  margin-left: 250px;
  padding: 1px 10px;
  height: 1000px;
  font-family: 'Roboto', sans-serif;
}
div.content h4 {
  margin-top: 90px;
  font-size: 40px;
  margin-bottom: 23px;
}
div.content button{
  background-color: #04AA6D;
  color: white;
  border-radius: 7px;
  font-size: 17px;
  border: none;
  width: 125px;
  padding: 15px;
  cursor: pointer;
}
div.content .prev i{
  margin-right: 5px;
}
div.content .next i{
  margin-left: 5px;
}
div.content .next{
  margin-left: 70%;
  width: 95px;
}
